.container {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

.item {
  background-color: gainsboro;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:not(:last-child) {
  margin-right: 20px;
}
.item:hover {
  opacity: 0.7;
}
.active {
  background-color: gold;
  color: white;
}
.active:hover {
  opacity: 1;
  cursor: default;
}
.active:hover a {
  cursor: default;
}
